.w-66 {
  width: 66%;
}

.w-33 {
  width: 33%;
}

#general-purpose-buttons {
  > :not(:last-child) {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }

  > :last-child {
    margin-left: 0.25rem;
  }
}

@media screen and (max-width: 1024px) {
  #operation-buttons {
    padding-left: 5px;
  }
}
