main {
  position: relative;
  top: 25%;
}

@media screen and (min-width: 1024px) {
  .calculator {
    background-color: #eceff1;
    min-height: 15%;
    height: 25%;
    max-height: 50%;
    min-width: 15%;
    width: 25%;
    max-width: 50%;
  }
}
